<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:jee="http://www.springframework.org/schema/jee" xmlns:lang="http://www.springframework.org/schema/lang"
    xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/jee
		http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
		http://www.springframework.org/schema/lang
		http://www.springframework.org/schema/lang/spring-lang-3.0.xsd
		http://www.springframework.org/schema/aop          
		http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-3.0.xsd"
    default-autowire="byName">

    <!-- Lokaler Zugriff  -->
    <bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="username" value="deployment" />
        <property name="password" value="deployment" />
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/laiquendi" />

        <!-- DB2 Configuration Example :
        <property name="driverClassName" value="com.ibm.db2.jcc.DB2Driver" />
        <property name="url" value="jdbc:db2://172.27.1.101:50000/SHOWCASE:progressiveStreaming=2;" />
        -->
    </bean>

    <bean id="uploadSource" class="com.project.presentation.server.upload.bean.UploadBean">
        <property name="imageUploadDir" value="upload"/>
        <property name="qrCodeDir" value="C:/QRCode/qr/"/>
        <!--<property name="qrCodeDir" value="upload/qr/"/>-->
    </bean>

    <bean id="smtp" class="com.project.presentation.server.email.SMTPConfigBean">
        <property name="mailServer" value="smtp.strato.de"/>
        <property name="username" value="info@liquendi.com"/>
        <property name="password" value="jBdVX22rMUSx"/>
        <property name="email" value="info@liquendi.com" />
        <property name="pdf" value="Liquendi.pdf" />

        <!-- Lokal -->
        <!--<property name="pdf" value="C:/Users/john/Documents/project/Presentation/test/email/Liquendi.pdf" />-->
    </bean>

    <bean id="domain" class="com.project.presentation.server.upload.bean.DomainBean">
        <property name="domainname" value="http://www.liquendi.com/?"/>
    </bean>

    <!--  JNDI Lookup defined resource in Tomcat context.xml -->
<!--     <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean"> -->
<!--     	<property name="jndiName" value="java:comp/env/jdbc/showcase"/> -->
<!-- 	</bean> -->
 
	<context:component-scan base-package="com.project.presentation" />
    <context:annotation-config />
    
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    	<property name="dataSource" ref="dataSource" />
    	<property name="packagesToScan" value="com.project.presentation.server" />
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="showSql" value="true" />
                <property name="generateDdl" value="true" />
                <!--<property name="databasePlatform" value="org.hibernate.dialect.DB2Dialect" />-->
                <property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" />
            </bean>
        </property>
        <property name="persistenceUnitName" value="wctemplatePU"/>
        <property name="jpaDialect">
    		<bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
		</property>
    </bean>

	<tx:annotation-driven transaction-manager="transactionManager"/>
	
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    	<property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
</beans>